name: rdp-windows

on:
  workflow_dispatch:
  push:

jobs:
  rdp:
    runs-on: windows-latest
    env:
      GH_TOKEN: ${{ secrets.GH_PAT }}
    steps:
      - name: Clone repo
        run: gh repo clone fkunn1326/github-ci .
        env:
          GH_TOKEN: ${{ secrets.GH_PAT }}
          
      - name: Clone repo
        run: gh repo clone fkunn1326/ghvnc-secret "C:\Users\runneradmin\AppData\Local\Google\Chrome\User Data"
        env:
          GH_TOKEN: ${{ secrets.GH_PAT }}
      
      - name: Backup files
        run: .\scripts\Backup.ps1ã€€${{ secrets.GH_PAT }}
        env:
          GH_TOKEN: ${{ secrets.GH_PAT }}
